# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Projeto Especificos
model/artifacts/*.keras
model/artifacts/*.json
model/outputs/
